.Sign_In_box{

    width:903px;

    height:540px;

    position: relative;

    left: 22px;

    top: 18px;
}
.Retrieve_password_label_01{position: relative;display: block;margin: 162px auto 0;width:242px;}
.Retrieve_password_label_01 i{
    position:absolute;top:0;left:0;height:36px;width:36px;background: url("../images/End-call.png") no-repeat 12px center;z-index: 10
}
.Sign_In_bj_mask{
    margin:120px auto 66px;
    width:946px;
    height:584px;
    background: url("../images/Projection.png") no-repeat center;
}
.Sign_In_box>div:nth-of-type(1){
    height:100%;
    width:523px;
    background: url("../images/sign_bj.jpg") no-repeat;
}
.Sign_In_box>div:nth-of-type(2){
    height:100%;
    width:380px;
}
.Sign_In_box>div:nth-of-type(2) h2{
    padding:30px 0;
    font-size:18px;
    color:#dba774;
    text-align: center;
    border-bottom:1px solid #f4f4f4
}
.Sign_In_box>div:nth-of-type(2) input{
    display:block;
}
.Sign_In_from .input1,.Sign_In_from .input2{
    border:1px solid #e5e5e5;
    height:36px;
    width:187px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size:12px;
    padding:0 12px 0 36px;

}
.Retrieve_password_label_02{
    position: relative;display: block;margin: 18px auto 0;width:242px;
}
.Retrieve_password_label_02 i{
    position:absolute;top:0;left:0;height:36px;width:36px;background:url("../images/Lock-.png") no-repeat 12px center;

}


.Sign_In_from .btn{
    height:36px;
    width:238px;
    background: #dba774;
    color:#fff;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: '微软雅黑';
    display:block;
    margin:30px auto 0;
    cursor:pointer;
    border-radius: 4px;

}
.logo_bj_msk{
    height:540px;
    width:524px;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    background:rgba(0,0,0,.59);
}
.mask_img_position{
    height:540px;
    width:524px;
    position: absolute;
    top:0;
    left:0;
    z-index: 3;
}
.mask_img_position img{
    display: block;
}
.mask_img_position img:nth-of-type(1){
    margin:194px auto 0;
}
.mask_img_position img:nth-of-type(2){
    margin:36px auto 0;
}



/*动画*/
.spot_box{
    height:42px;
    width:100%;
    position: relative;
    top:38px;
}

.spot_box>i:nth-of-type(1){
    height:12px;
    width:12px;
    position: absolute;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #e7e7e7;
    top:50%;
    margin-top:-6px;
    left:98px;
}
.spot_box>i:nth-of-type(2){
    height:18px;
    width:18px;
    position: absolute;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background: #dba774;
    top:50%;
    font-size:12px;
    text-align: center;
    line-height: 18px;
    color:#dba774;
    -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    -ms-transform: scale(.6);
    -o-transform: scale(.6);
    transform: scale(.6);
    margin-top:-9px;
    -webkit-transition:.4s cubic-bezier(0.99, 1.85, 0.39, -0.48);
    -moz-transition: .4s cubic-bezier(0.99, 1.85, 0.39, -0.48);
    -ms-transition: .4s cubic-bezier(0.99, 1.85, 0.39, -0.48);
    -o-transition:.4s cubic-bezier(0.99, 1.85, 0.39, -0.48);
    transition: .4s cubic-bezier(0.99, 1.85, 0.39, -0.48);
    left:286px;
}
.spot_box>div{
    height:1px;
    width:0px;
    background: #e7e7e7;
    position: absolute;
    top:50%;
    margin-top:-.5px;
    left:106px;
    -webkit-transition: 1s .3s;
    -moz-transition: 1s .3s;
    -ms-transition: 1s .3s;
    -o-transition: 1s .3s;
    transition: 1s .3s;
}
.spot_box h2{
    position: relative;
    top:8px;
    left:0;
}
.spot_box h2 span:nth-of-type(1){
    color:#c0c0c0;
    font-size:14px;
    padding:0 106px 0 0;
}
.spot_box h2 span:nth-of-type(2){
    color:#dba774;
    font-size:14px;
}




















