
/*内容部分*/
.content_box{
    margin:71px auto 0;
    width:1000px;
    position: relative;
    /* top:0; */
    /* left:0; */
    overflow: hidden;
}
/*个人资料内容部分*/
.news_more_box{background: #fff;width:1000px;margin:0 auto 30px;}
.relevant_content{
    width:600px;
    float: left;
    padding:0 27px 22px 27px;
    border:1px solid #f4f4f4;
    background: #fff;
}
.relevant_content .div1{
    width:646px;
    position: absolute;
    top:0;
    left:0;
    border-bottom:1px solid #f4f4f4;
}
.relevant_content .div1 a{

    line-height: 52px;
    font-size:18px;
    padding:0 30px;
    float: left;
}
.gengduo{
    padding:55px 18px 18px 18px;
    position: relative;
    float: right;
    width:300px;
    border-right:none;
    border-top:1px solid #f4f4f4;
    border-bottom:none;
    border-right:none;
}
.text_infi_content{
    padding:53px 0 0 0;
    display: none;
}
.relevant_content .text_infi_content.all_active{
    display: block;
}
.div1 div{
    height:1px;
    background: #dba774;
    position: absolute;
    bottom: 0;
    left:0;
}
.mai_infi_text{

    border-bottom:1px solid #f5f5f5;
}

.news_content{
    display: none;
}
.news_content.new_active1{
    display: block;
}

.news_top_l .new_span_active{
    color:#DBA774;
}

.news_content_list{
    width:100%;
    padding:24px 0;
    overflow:hidden;
    position:relative;
    border-bottom:1px solid #f5f5f5;
}
.news_content_list dt{
    width:136px;
    height:136px;
    border:1px solid #e3e3e5;
    overflow:hidden;
    float:right;
    position:absolute;
    right:0;
    margin-top:6px;
}
.news_content_list dd{
    width:410px;
    float:left;
}
.news_content_list dd h2{
    font-size:18px;
    width: 410px;
    line-height:30px;
    color: #000000;
    margin-bottom:15px;
}
.news_content_list dd h2 a{
    display:block;
    word-break: break-all;
}
.news_content_list .p1{
    font-size:14px;
    height:auto;
    color:#868686;
    line-height:24px;
    min-height: 72px;
}
.news_content_list .p2{
    font-size:12px;
    color:#afafaf;
    margin-top:16px;

}
.news_content_list p:nth-of-type(2) span:nth-child(1){
    margin-right:25px;
}


.all_options{
    color:#dca876;
}
/*右侧内容部分*/
.head_dynamic{
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    height: 52px;
    font-size: 18px;
    line-height: 53px;
    background: #fff;
    padding: 0 18px;
    margin: 0 18px 0 18px;
}
.head_dynamic div{
    position: absolute;
    bottom:0px;
    left:50%;
    height:1px;
    width:300px;
    margin-left:-150px;
    background:#f4f4f4 ;
}
.gengduo .head_dynamic .head_dynamic_a2{
    float: right;
    display: inline-block;
    text-align: left;

    /* text-indent: 1em; */
    width: 51px;
    height: 100%;
    font-size:12px;
    color:#989898;
    background: url("../images/right_angle.png") no-repeat 27px center;
}
.on_left_text{
    width:184px;
    height:auto;

}
.on_left_text p{
    font-size: 12px;
    color:#989898;
}
.on_left_text .p2{
    padding:20px 0 0 0;

}
.content_capital h2{
    line-height: 24px;
    font-size: 14px;
    height: 45px;
    color: #333333;
    padding: 0 0 5px 0;
}
.content_capital{
    border-bottom:1px solid #f4f4f4;
    padding:15px 0 15px 0;
}
/* border:1px solid #f4f4f4;*/

.online_box h2{
    padding:16px 0;
    font-size: 14px;
    color:#333333;
    line-height: 24px;
}

.online_box p{
    color:#afafaf;
    font-size:12px;
    margin:-10px 0 0 0;
    padding:0 0 15px 0;
}
.online_box{
    border-bottom:1px solid #f4f4f4;
}
.investors_location{
    width: 300px;
    background: #fff;
    padding: 18px;
    margin: -3px 0 0px -19px;
    border: 1px solid #f4f4f4;
    border-top: 1px solid #fff;
}
.investors_location2{
    margin: 10px 0 0px -19px;
    border: 1px solid #f4f4f4;
    background: #fff;
    width: 300px;
    padding: 18px;
    position: relative;
}
.content_capital2{
    padding:55px 0 15px 0;
    border-bottom:1px solid #f4f4f4;
}
.content_capital2 h2{
    line-height: 24px;
    font-size: 14px;
    height: 45px;
    color: #333333;
    padding: 0 0 5px 0;
}
/*news_details*/
.news_det_wrap{
    padding:0 140px;
}
.news_det_tit{
    font-size:22px;
    color: #1b1b1b;
    padding:50px 0 22px;
}
.news_det_date{
    font-size:12px;
    color: #afafaf;
    margin-bottom:28px;
}
.news_det_pic{
    width: 720px;
    height: 400px;
    margin:auto;
}
.news_det_con p{
    font-size: 14px;
    line-height:24px;
    margin-bottom:20px;
    color:#333333;
}
.news_det_con p:first-child{
    margin-top:38px;
}
copy{
    display:block;
    font-size: 14px;
    color:#a3a3a3;
    padding:60px 0 72px;
}

/*news_list*/

img{
    display:block;
    border:0px;
}


.bs{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.news_wrap{
    width: 100%;
    padding:0px 200px;
}
.news_top{
    overflow:hidden;
    padding:44px 0px 40px;
    border-bottom: 1px solid #f5f5f5;
}
.news_top_l{
    float:left;
}

.news_top_l span{
    font-size: 20px;
    color:#a8a8a8;
    cursor:pointer;
}

.news_top_l span:first-child:after{
    display:inline-block;
    content:'/';
    color:#dba774;
    padding-left:10px;
}
.news_top_l span:nth-child(2){
    padding:0 5px;

}

.news_btn{
    display: block;
    width: 16px;
    height: 18px;
    background:url("../images/news_btn.png") no-repeat right center transparent;
    border:0px;
    position:absolute;
    right:15px;
    top: 50%;
    margin-top:-9px;
}


/*个人资料*/


.personal_box span.active{
    color:#1b1b1b;
}
.personal_content{
    width:1000px;
}



.personal_project a{
    padding:10px 0;
    font-size:16px;
    color:#7c7c7c;
    text-indent:28px;
    display: block;
}
.personal_project a:nth-of-type(3){
    text-indent:20px;
}
.personal_project a.active{
    color:#fff;
    background: #dba775;
}

/*表单更多*/

button{
    border:0px;
    background: transparent;
    outline:none;
}
select,option{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border:0px;
    background: transparent;
}
i{
    color:red;
}
i.white{
    color: #ffffff;
}
b{
    min-width:80px;
    font-weight: normal;
    text-align:right;
}
textarea{
    resize:none;
    width: 360px;
    height: 120px;
    border:1px solid #cfcfcf;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left:10px;
}
input,select{
    height: 40px;
    border:1px solid #cfcfcf;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    text-indent: 10px;
}
/*input[type="file"]{*/
/*background: transparent;*/
/*border:0px;*/
/*opacity:0;*/
/*z-index:100;*/
/*}*/
input .file_active{
    background: transparent;
    border:0px;
    opacity:0;
    z-index:100;
}
input,.bs{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.form{
    width: 790px;
    height: auto;
    padding-left: 70px;
}
.form>div{
    height:40px;
    line-height: 40px;
    overflow: hidden;
}
.form>div>*{
    float: left;
}
.form b{
    font-size: 14px;
    color: #1b1b1b;
    padding:0px 16px 0px 0px;
}
.form label>*{
    float:left;
}
.form>div{
    margin-bottom: 18px;
}
.form .head{
    height: 52px;
    margin:42px auto 18px;
}
.form .head>*{
    height: 52px;
    line-height: 52px;
    overflow: hidden;

}

.head_label{
    width: 52px;
    height: 52px;
    border-radius:100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border:1px dashed #eeeeee;
    overflow: hidden;
    position: relative;
    background: url("../images/head_bj.png") no-repeat right center
}
.head_label>*{
    width: 52px;
    height: 52px;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
}
.head_label img{
    text-align: center;
    z-index: -1;
}
select{
    background:url("../images/select_btn.png") no-repeat right center;
}
.address select{
    width: 117px;
    height: 40px;
    border:1px solid #cfcfcf;
    text-indent:4px;
    position:relative;
}
.address select:first-child{
    margin-right: 6px;
}
select option{
    height:30px;
    line-height:30px;
    background: #ffffff;
    text-indent: 10px;
}
.schedu select{
    width: 240px;
}
.save_btn{
    display:block;
    width: 135px;
    height: 36px;
    line-height:25px;
    background: #dba775;
    color: #ffffff;
    font-size:16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin:80px auto 108px 112px;
    cursor:pointer;
}
.form .textarea,.form label,.form textarea{
    height:120px;
}
.form.bs{
    display: none;
    padding-top:10px;
    width:790px;
    margin:0 0 216px 0;
}
.content_box2 .form.bs.active{
    display: block;
}
/*账户安全*/

div.account_security{
    border-top:1px solid #f4f4f4;
    width:460px;
    margin:10px 0 0 20px;
    height:228px;

}
.account_textarea{
    height:74px;
    width:100%;
    border-bottom:1px solid #f4f4f4;
    line-height: 74px;
    font-size:14px;
    color:#1b1b1b;
    position: relative;
}
.account_textarea>i{
    color:#1b1b1b
}
.account_textarea b{
    margin:0 0 0 78px;
}
.account_textarea .account_btn_a{
    width:80px;
    height:28px;
    float:right;
    background: #f45b5d;
    color:#fff;
    border-radius:5px;
    font-size:14px;
    line-height: 28px;
    text-align: center;
    margin:23px 0;
    cursor:pointer;
}
.account_textarea span:nth-of-type(1){
    color:#868686;
}
.account_modify{
    border:1px solid #d6d6d6;
    border-radius: 4px;
    font-size: 13px;
    color:#333;
    height: 26px;
    padding: 0px 10px;
    text-align: center;
    line-height: 26px;
    margin: 24px 0 0 0;
    float: right;
    cursor: pointer;
}
.account_cation{
    border-radius:4px;
    font-size:13px;
    color:#fff;
    height: 26px;
    padding: 0px 10px;
    text-align: center;
    line-height: 26px;
    /* padding:7px 11px; */
    background: #f35b5a;
    /* position: absolute; */
    /* top: 50%; */
    /* top: 0px; */
    margin: 24px 0 0 0;
    /* right:0; */
    float: right;
    cursor:pointer;
}
.account_textarea b{
    height:12px;
    width:12px;
    background: url("../images/completed.png") no-repeat center;
}
/*进入立即认证*/
.form.bs.active2{
    display:block;
    position: relative;
    left:56px;
    top:0;
}
.form_h2{
    position: relative;
    left:-41px;
    top:0;
    height:30px;
    width:100%;
}
.form_h2 div{
    height:30px;
    width:30px;
    background: #dba774;
    font-size:14px;
    color:#fff;
    line-height: 30px;
    text-align: center;
    float:left;
    border-radius:15px;
}
.form_h2 span{
    height:30px;
    width:30px;
    font-size:14px;
    color:#DBA774;
    line-height: 30px;
    text-align: left;
    padding:0 0 0 8px;

}

/*认证审核页面*/
.to_examine strong{
    font-size:14px;
    color:#1b1b1b;
}
.to_examine{
    font-size:12px;
    color:#868686;
    padding:37px 0;
}
.examine_page{
    height:230px;
    width:580px;
    margin:0 0 0 30px;
    position: relative;
}
.examine_page .fl,.examine_page .fr{
    height:180px;
    width:280px;
    top:0;
    left:0;
    background:url("../images/examine.png") no-repeat center;
    z-index: 1010;
}
.examine_page input[type=file]{
    height:180px;
    width:280px;
    position: absolute;
    top:0;
    opacity: 0;
    z-index: 1010;
    cursor:pointer;
}
.examine_page .fl input[type=file]{
    left:0;
}
.examine_page .fr input[type=file]{
    right:0;
}
.examine_page li{
    height:100%;
    width:280px;

}
.examine_page h3{
    position: absolute;
    height:50px;
    width:280px;
    bottom: 0;
    line-height: 50px;
    text-align: center;
    color:#666;
    font-size:14px;
}
.examine_page .fr h3{
    right:0;
}
.examine_page .fl h3{
    left:0;
}
.btn_cancel_box li,.btn_Unbundling li{
    display:block;
    width: 180px;
    height: 36px;
    line-height:36px;
    background: #dba775;
    color: #ffffff;
    font-size:16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float:left;
    text-align: center;
    cursor:pointer;

}
.btn_cancel_box {
    width:100%;
    height:36px;
    padding:0 0 114px 0;
}
.btn_cancel_box li:nth-of-type(1){
    margin:0 17px 0 30px;
}
.btn_cancel_box .examine_cancel{
    background: #fff;
    border:1px solid #d6d6d6;
    color:#333333;
}
/*解绑旧手机号码*/
.Unbundling-box{
    height:600px;
    width:600px;
    border:1px solid #f4f4f4;
    margin:0 0 280px 20px;
}
.Unbundling-box h2{
    padding:42px 0 40px 0;
    text-align: center;
    font-size:16px;
    color:#dba774;
}
.Unbundling-box div {
    line-height: 40px;
    margin: 0 0 0 10px;
    width: 100%;
    height: 40px;
    padding: 0 0 18px 0;
    font-size:14px;
}
.Unbundling-box span{
    margin:0 10px 0 120px;
}
.Unbundling-box label.fl{
    height:40px;
}
.Unbundling-box div:nth-of-type(2) .Verification_code{
    width:116px;
}
.Unbundling-box div:nth-of-type(2) .Verification_code.to{
    margin:0 0 0 10px;
    color:#dba774;
    font-size:14px;
    cursor:pointer;
}
.Unbundling-box li{
    padding:0 0 20px 0;
}
.Unbundling_li2{
    border-top:1px solid #f4f4f4;
}
.Unbundling-box div:nth-of-type(2) .Verification_code.to.second{
    color:#cfcfcf;
}
.btn_Unbundling{
    width:100%;
    height:36px;
}
.btn_Unbundling li{
    width: 120px;
    height: 36px;
}
.btn_Unbundling .examine_cancel{
    background: #fff;
    border:1px solid #d6d6d6;
    color:#333333;
}
.btn_Unbundling li:nth-of-type(1){
    margin: 0 17px 0 218px;
    height: 15px;
}

/*修改密码*/
.form .Unbundling-box.Change_password{
    height:600px;
    width:600px;
    border:1px solid #f4f4f4;
    margin: 0 0 462px 20px;
}
.password_i{
    float:left;
    margin:0 10px 0 100px;
}
.Unbundling-box span{
    margin:0 10px 0 0px;
}

.Unbundling-box{
    height:auto;
}
.btn_Unbundling.Change{
    padding:20px 0 100px 0;
}
.password_i.old_password1{
    margin: 0 10px 0 126px;
}
.password_i.old_password2{
    margin: 0 10px 0 126px;
}
.password_i.old_password3{
    margin: 0 10px 0 98px;
}
.fl.phone{
    padding: 0 0 18px 116px;
}
/*会员认证资格审核中*/
.form.bs.active.Audit{
    position: relative;
    left:16px;
    top:0;
}
.Audit.bs ul.Audit{
    height:96px;
    width:578px;
    text-align: center;
    line-height: 96px;
    font-size:18px;
    color:#f35b5b;
    border:1px solid #e8e8e8;
}
.Audit.bs>div{
    margin-left:32px;
}
.form.bs.Audit.bs label{
    font-size:14px;
    color:#1b1b1b;
}
.Audit.bs div.Amount{
    margin-left:5px;
}
.Audit.bs .control_box{
    width:280px;
    height:180px;
}
.form .control_max{
    margin-bottom: 0px;
}
.control_max .control_box img,.control_max .control_box2 img{
    height:100%;
    width:100%;
}
.Audit.bs .control_max{
    height:222px;
    text-align: center;
}
.control_box p,.control_box2 p{
    height:48px;
    line-height: 48px;
    font-size:14px;
    color:#666666;
}
.Audit.bs .control_box2{
    width:280px;
    height:180px;
    margin-left:104px;
}
.control_max.control_max2{
    margin:46px 0 0 0;
}
.form .save_btn.back{
    margin:80px auto 172px 138px;
    border:1px solid #d6d6d6;
    background: #fff;
    color:#333;
    font-size:16px;
}
.bbr{
    height:2px;
    width:60px;
    background: #DBA774;
    position: absolute;
    bottom:20px;
    left:89px;
}


























