/*??????*/
.marginTop4{margin:0 0 4px 0;}
.cnetent_margin74_114{
    margin:0 114px 0 74px;
    padding:28px 0 30px 32px;
    background: #fdfdfd;
}
.bor{
    border:1px solid #f2f2f2;
}
.cnetent_margin74_114 p{
    font-size:14px;
    color:#666;
    line-height:35px;
    letter-spacing: 1px;
}
.letter_spacing{
    letter-spacing: 1px;
}
/*svg ?????*/
.Map_close{
    margin:10px 112px 0 76px;
    position: relative;
    height:464px;
    width:598px;
    z-index:1;

}
.Map_close ul{
    height:464px;
    width:598px;
    position: absolute;
    left:0;
    top:0;


}
.Map_close ul li{
    height:100%;
    width:100%;
    position: absolute;
    top:10px;
    left:0;

}
/* .Map_close ul li:nth-of-type(1){
    z-index: 10;
    margin:10px 0 0 0;
} */


/* .Map_close ul li:nth-of-type(2){
    z-index: 9;
    padding: 24px 0 0 0;
} */
.Map_close ul li:nth-of-type(3){
    z-index: 8;
    margin:10px 0 0 0;
}
.ol_padding76{
    padding:10px 112px 0 76px;
    height:146px;
    line-height: 146px;
    background: url("../images/Project_valuation.png") no-repeat 220px 79px,

    url("../images/Project_valuation.png") no-repeat 424px 78px;
}
.ol_padding76 li{
    float:left;
}
.ol_padding76 li a{
    color:#969696;
    letter-spacing:1px;

}
.ol_padding76 .active{
    color:#000;
}
.ol_padding76 li:nth-of-type(1){
    text-indent:174px;
}
.ol_padding76 li:nth-of-type(2){
    text-indent:120px;
}
.ol_padding76 li:nth-of-type(3){
    text-indent:120px;
}
/*information_box*/
.information_box{
    height:45px;
    width:100%;
    position: relative;

}
.information_box ul{
    height:45px;
    width:100%;
    position: absolute;
    top:0;
    left:0;

}
.information_box li{
    text-align: center;
    padding:12px 13px;
    background: #f4f4f4;
    float:left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:130px;
    border-right:2px solid #fff;
    color:#888888;
    font-size:16px;
    letter-spacing:1px;
    cursor:pointer;
    position: relative;
}
.information_box li.active{
    background:#dba774;
    color:#fff;

}
.information_box .bar{
    height:5px;
    width:9px;
    position: absolute;
    bottom:-5px;
    background: url("../images/lower.png") no-repeat center;
    border:none;
}
.class_ifi_cation{
    position: relative;
    padding:0px 80px 0px 76px ;
    margin:50px 0 206px 0;

}

/*????????*/
*{
    letter-spacing:1px;
}
.class_ifi_cation{
    background: url("../images/linear.png") repeat-Y 204px 116px;
}
.class_ifi_cation ul{
    margin:0 0 55px 0;
}
.TOP_tom{position: absolute;bottom: -2px;left:208px;}
.ifi_ul{
    position: relative;
}
.ifi_ul li{
    float:left;
}
.a_two{
    text-indent: 14px;
}
#date_new .date_new{
    text-align: center;
}
#date_new .date_new2{
    text-indent: 54px;
}
.ifi_ul li:nth-of-type(1){
    font-size:14px;
    color:#929292;
    text-align: right;
}
.ifi_ul li:nth-of-type(2){
    font-size:14px;
    float:left;
    color:#000;
    text-align: left;
    text-indent: 76px;

}
.ifi_ul li:nth-of-type(3){
    height:17px;
    width:17px;
    background: url("../images/Dot.png") no-repeat;
    position: absolute;
    top:0px;
    left:127px;
}
.ifi_ul li:nth-of-type(3){

}
.ifi_ul li:nth-of-type(4){
    width: 406px;
    background: #fff;
    float:right;
    margin:18px 0 0 0;
    padding:22px 26px;
    position: relative;
    border:1px solid #e5e5e5;

}
.ifi_ul li:nth-of-type(4) i{
    position: absolute;
    top:-11px;
    left:40px;
    height:10px;
    width:14px;
    border-bottom:1px solid #fff;
    background: url("../images/upper.png") no-repeat;
}
.ifi_ul li:nth-of-type(4)>*{
    font-size:14px;
    line-height: 30px;
}
.ifi_ul li:nth-of-type(4)>p{
    color:#565656;
}
.ifi_ul li:nth-of-type(4) span{
    color:#000;
}
.ifi_ul li:nth-of-type(4)>div p{
    color:#565656;
}
.tozi_1 span:nth-of-type(1){
    color:#1b1b1b;
}
.tozi_1 span{display:block;}
.ifi_ul li:nth-of-type(4) .tozi_2{
    color:#1b1b1b;
    padding:0 0 0 76px;
}
.tozi_2 span:nth-of-type(1){font-weight: bold;}
.tozi_2 span{display:block;}
.ifi_ul li.active:nth-of-type(2),.ifi_ul li.active:nth-of-type(1){
    color:#dba774;
}
.display{
    display:none;
}
.display.active{
    display:block;
}

/*?????????*/
.capital_infi p{
    line-height: 29px;
    font-size:14px;
    color:#333333;
    padding:0 0 9px 0;
}
div.pad140{
    margin:50px 0 140px 0;
    background-image: none;
}
.pad118{
    margin:56px 0 118px 0;
    padding:0px 104px 0px 110px;
    background-image: none;
}
/*???????*/
.pad118_infi p{
    font-size:14px;
    line-height: 36px;
}
.pad118_infi p:nth-of-type(1){
    /* float:left; */
}
.pad118_infi p:nth-of-type(2){
    /* float:right; */
}
.pad118_infi p span{
    color:#333333;
    font-size:14px;

}
.pad118_infi p{
    color:#868686;
    font-size:14px;
}
.pad118_infi>div p{float:left}
.pad118_infi>div p:nth-of-type(2){
    line-height: 25px;
    position: relative;
    top: 6px;
    width: 495px;
    left: 0;
}
/*???????*/
.pad59{
    margin:40px 0px 118px 0;
    padding:0px 70px 0px 64px;
    background-image: none;
}
.pad59_infi li:nth-of-type(2){
    width: 496px;
}
.pad59 .pad59_infi .character{
    border:none;
}
.pad59 .pad59_infi ul{
    margin: 0 0 0px 0;
}
/*??????*/
.pad62{
    margin:46px 0px 126px 0;
    padding:0px 112px 0px 74px;
    background-image: none;
}
.pad62_infi h2{
    padding:16px 0;
    border-bottom:1px solid #f5f5f5;
}
.pad62_infi h2 span{
    font-size:16px;
    cursor:pointer;
}
.pad62_infi h2 span:first-child:after{
    display: inline-block;
    content:"/";
    color:#ececec;
    text-indent:9px;
    cursor:auto;
}
.pad62_infi h2 .active{
    color:#dba774;
}
.pad62_infi ul li{
    background: url("../images/dian.png") no-repeat left center;
    line-height: 16px;
    width: 100%;
    margin:0 0 20px 0;
    height: 16px;
}
.pad62_ul>li span:nth-of-type(1){
    padding-left:12px;
    font-size:14px;
    color:#333333;
    float:left;
}
.pad62_ul>li span:nth-of-type(2){

    font-size:12px;
    color:#afafaf;
    float:right;
}
.pad62_ul{
    padding:20px 0 0 0;

}
.pad62_ul{
    display: none;
}
.pad62_ul.active{
    display: block;
}
#container3{
    overflow: hidden;
    background: #fff;
}
.pad118_infi .color_333{
    color:#333;
}










