
.fund_next_cneter span{
    padding:0 0 36px 0;
    display:inline-block;
    color:#3b3b3b;
    font-size:14px;
    line-height: 24px;
}
.b_bottom_f5f5f5{
    border-bottom:1px solid #f5f5f5;
    margin:0px 60px 0px 68px;
    padding-bottom:20px;
}
.centent_padding span a:hover{color: #86a7de;}
.c_262626{
    color:#262626;
}
#attachment_list a{font-size:14px;}

#attachment_list a:hover{color:#84a7df;}
.news_more_box2 {
    margin: auto;
    padding: 20px 0;
    margin-bottom:30px;
}
.Fund_next_header .setMarL_16{margin:0 0 0 16px;}
#change_write1{width:650px;}
#change_write1 span{letter-spacing:1px;}
#change_write1 span:nth-of-type(1){margin-left:46px;}
#change_write1 span:nth-of-type(2){margin-left:100px;}
#change_write1 span:nth-of-type(3){margin-left:80px;}
#change_write1 span:nth-of-type(4){margin-left:36px;}
#change_write1 span:nth-of-type(5){margin-left:38px;}
#change_write1 span:nth-of-type(6){width:100px}
.news_more2 {
    display: block;
    font-size: 12px;
    height: 20px;
    line-height: 10px;
    color: #989898;
    background: transparent;
    border: 0px;
    position: relative;
    padding-right: 15px;
    margin: auto;
    cursor: pointer;
}
.news_more2:after {
    display: inline-block;
    width: 0px;
    height: 0px;
    content: '';
    border: 6px solid transparent;
    border-left: 6px solid #989898;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -6px;
}


.set_lineH p{line-height: 39px;font-size: 18px;}
.centent_margin.bs.character.clearfix li:nth-of-type(1){width:86px}
.Pie_chart{
    border:1px solid #eee;
    background: #fdfdfd;
    margin:0 140px 44px 68px;
}
/*饼图左右布局*/
/*.Pie_chart li:nth-of-type(1){*/
/*width:212px;*/
/*}*/
/*.Pie_chart li:nth-of-type(2){*/
/*width:366px;*/
/*}*/
/*.div_data{*/
/*padding:62px 0 0 38px;*/
/*}*/
/*饼图上下布局*/
.Up_down li:nth-of-type(1){
    width:100%;
    height:130px;
}
.Up_down li:nth-of-type(2){
    width:100%;
    padding:0 0 38px 0;

}
.li_time p{
    padding:0 0 0 212px;
    line-height: 32px;
    color:#666666;
    font-size:14px;
}
.project{margin:6px auto;}

.fund.bs.head.number span:nth-of-type(1){margin:0 0 0 12px;}
.fund.bs.head.number span:nth-of-type(2){margin:0 0 0 28px;}
.fund.bs.head.number span:nth-of-type(3){margin: 0 0 0 92px;}
.fund.bs.head.number span:nth-of-type(4){margin: 0 0 0 68px;}
.fund.bs.head.number span:nth-of-type(5){margin: 0px 0 0 28px;}
.fund.bs.head.number span:nth-of-type(6){margin: 0 0 0 24px;}

.Serial_sdk ul.fund_ul.bs li span:nth-of-type(1){width: 122px;}
.Serial_sdk ul.fund_ul.bs li span:nth-of-type(2){width: 184px}
.Serial_sdk ul.fund_ul.bs li span:nth-of-type(3){width: 128px;height:100%;}
.Serial_sdk ul.fund_ul.bs li span:nth-of-type(4){width:110px;}
.Serial_sdk ul.fund_ul.bs li span:nth-of-type(5){width:104px;}
.Serial_sdk ul.fund_ul.bs li span:nth-of-type(6){width: 108px}

/*.Up_down li:nth-of-type(1){*/
    /*position: relative;*/
/*}*/
/*.zIndex11{*/
    /*width:579px;*/
    /*height:144px;*/
    /*position: absolute;*/
    /*border-left:1px solid #eeeeee;*/
    /*z-index: 11;*/
/*}*/

#container_01{
    width:310px;
    height:144px;
    float:left;
    margin:14px 0 0 0;
    overflow: hidden;
}
.zIndex11 .width260{
    width:260px;
    height:128px;
    float:left;
}
.width260 div:nth-of-type(1){
    position: relative;
    top:66px;
    left:0px;
    font-size:14px;
}
.width260 div:nth-of-type(2){
    position: relative;
    top:74px;
    left:0px;
    font-size:14px;
}
.width260 div:nth-of-type(1) i{
    height:14px;
    width:14px;
    background: #7cb5ec;
    display: inline-block;
    border-radius:4px;
}
.width260 div:nth-of-type(2) i{
    height:14px;
    width:14px;
    background: #434348;
    display: inline-block;
    border-radius:4px;
}

.li_time .p-left{    margin: -8px 0 0 15px;}
























