*{margin:0;padding:0;list-style:none;border:0px;}
img{display:block;margin:0 auto;}
.case_banner_bg{text-align:center;width: 100%;height:699px;background:url(../images/case_banner.jpg) no-repeat center top;}
.case_banner_bg .wrap{margin-top: 95px;}
.case_banner_bg img:nth-child(2){margin:25px auto 30px;}
.finacing_box{width: 100%;height:auto;background:#fff;}
.finacing_box img:nth-child(1){margin:92px auto 50px;}
.finacing_box img:nth-child(2){margin-left:405px;margin-bottom: 90px;}
.inv_box{width:100%;height:656px;background: #ececec;}
.inv_title{margin:85px auto 55px;}
.inv_box ul{width: 757px;margin:0 auto;overflow:hidden;}
.inv_box .one_col{width: 248px;margin:0 auto;overflow:hidden;}
.inv_box .two_col{width: 503px;margin:0 auto;overflow:hidden;}
.inv_box ul li{float:left;margin-left:6px;}
.inv_box ul li:nth-child(1){margin-left:0px}
.pro_box{width: 100%;background:#fff;padding-bottom:88px;}
.pro_box img:nth-child(1){margin:87px auto 40px;}
.team_box{width: 100%;background: #ececec;padding-bottom: 95px;}
.team_title{margin:88px auto 60px;}
.team_box ul{width: 1000px;overflow: hidden;}
.team_box ul.one_col{width: 488px;margin:0 auto;overflow: hidden;}
.team_box ul li{width: 488px;height: 160px;overflow:hidden;float:left;margin-left:23px;margin-bottom:23px;}
.team_box ul li:nth-child(2n+1){margin-left:0px;}

.east ul{width: 840px;overflow: hidden; text-align: center; margin: 0 auto}
.east ul li{width: 248px;height: 503px;overflow:hidden;float:left;margin-left:23px;margin-bottom:23px;}
.east ul li img{ margin-top:0px;}
