.about_box{font-size: 14px;}
h3{font-size: 16px;margin-bottom: 20px;}
p{line-height: 24px;}
.mar_10{margin-bottom:10px;}
.mar_40{margin-bottom: 20px;}
.finac_list li{line-height: 24px;}
.fac_list li{line-height: 24px;}